root = true

[*]
tab_width = 3
indent_style = tab
indent_size = 3
end_of_line = lf
trim_trailing_whitespace = true
insert_final_newline = true

[package.json]
tab_width = 2

[netlify.toml]
tab_width = 3
indent_size = 3
indent_style = 3
